<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "../partials/head" ) %>
    <link href="/css/productCreateStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <div class="pagina-titulo">
            <h1>Producto Nuevo</h1>
        </div>

        <div class="form-new">
            
            <form action="/create" method="POST">

                <div>
                    <label for="nombre" class="label">Nombre</label>
                    <input class="input-text" type="text" name="Nombre">
                </div>
                <div>
                    <label for="precio" class="label">Precio</label>
                    <input class="input-text" type="number" name="precio">
                </div>
                <div>
                    <label for="desc" class="label">Descripción</label>
                    <textarea name="desc" maxlength="40"></textarea>
                </div>
                <div>
                    <label for="categoria" class="label">Categoría</label>
                    <select name="categoria">
                        <option>Unisex</option>
                        <option>Mujer</option>
                        <option>Hombre</option>
                    </select>
                </div>
                <div>
                    <label for="tipo" class="label">Tipo: </label>
                    <select name="tipo">
                        <option>Ropa</option>
                        <option>Tenis</option>
                        <option>Accesorio</option>
                    </select>
                </div>
                <div>
                    <label for="talla" class="label">Tallas</label>
                        <input type="checkbox" value="XS" name="talla">XS
                        <input type="checkbox" value="S" name="talla">S
                        <input type="checkbox" value="M" name="talla">M
                        <input type="checkbox" value="L" name="talla">L
                        <input type="checkbox" value="XL" name="talla">XL
                </div>
                <div>
                    <label for="color" class="label">Colores</label>
                        <input type="checkbox" value="Azul" name="color">Azul
                        <input type="checkbox" value="Verde" name="color">Verde
                        <input type="checkbox" value="Amarillo" name="color">Amarillo
                        <input type="checkbox" value="Naranja" name="color">Naranja
                        <input type="checkbox" value="Rosa" name="color">Rosa
                        <input type="checkbox" value="Rojo" name="color">Rojo
                        <input type="checkbox" value="Morado" name="color">Morado
                        <input type="checkbox" value="Negro" name="color">Negro
                        <input type="checkbox" value="Blanco" name="color">Blanco
                </div>
                <div>
                    <label for="mainPic" class="label">Imagen</label>
                    <input type="file" accept="image/*" name="mainPic">
                </div>
                <div>
                    <label for="thumbnail" class="label">Thumbnail</label>
                    <input type="file" accept="image/*" name="thumbnail">
                </div>
                <div>
                <button type="submit">Agregar</button>
                </div>
            </form>

        </div>
        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>