<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "../partials/head" ) %>
    <link href="/css/productListStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <div class="pagina-titulo">
            <h1>Producto Nuevo</h1>
        </div>
        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>