<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Activ</title>
    <link rel="icon" href="images/Activ_favicon.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet">

    <link href="/css/headerStyle.css" rel="stylesheet"/>
    <link href="/css/indexStyle.css" rel="stylesheet"/>
    <link href="/css/footerStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <main>

        <div class="cookies">

            <p>Home > Mujeres > Bottoms > Leggins Activ X</p>

        </div>

        <section class="product-detail">

            <div class="product-photos">

                <div class="side-pics">

                    <img class="side-pic">
                    <img class="side-pic">
                    <img class="side-pic">

                </div>

                <div class="main-pic">

                    <img>

                </div>

            </div>

            <div class="product-details">
                
                <div class="product-info">

                    <p class="titulo-producto">Leggins Activ X</p>
                    <p class="precio-producto">$450.00</p>
                    <p class="star-rating">stars</p>
                    <p class="descripcion-producto">Descripción del producto</p>

                </div>

                <div class="product-selection">
                    
                    <form action="" method="">

                        <div class="product-size">

                            <label for="size">Tamaño</label>
                            <input type="radio" value="s" name="size" id="size"> S 
                            <input type="radio" value="m" name="size" id="size"> M 
                            <input type="radio" value="l" name="size" id="size"> L 
                            <input type="radio" value="xl" name="size" id="size"> XL 

                        </div>

                        <div class="product-count">

                            <label for="count">Cantidad</label>
                            <select name="count">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>

                        </div>

                        <div class="product-color">

                            <label for="color">Cantidad</label>
                            <select name="color">
                                <option value="AZ">Azul</option>
                                <option value="RS">Rosa</option>
                                <option value="VR">Verde</option>
                                <option value="RJ">Rojo</option>
                            </select>

                        </div>

                        <div class="product-buttons">

                            <button type="submit">Agregar a carrito</button>
                            <button type="button">Favoritos</button>

                        </div>

                    </form>

                </div>

            </div>

            <aside class="delivery-details">

                <p>Envíos gratuitos en compras superiores a $999.</p>
                <p>Los envíos tardan usualmente de una a dos semanas. 
                Las entregas pueden presentar un retraso. 
                Puedes consultar el estatus de tu pedido aquí.
                </p>
                <p>Envíos y devoluciones gratis para miembros de Activ.</p>

            </aside>

        </section>

        <section id="productos-favoritos">

            <h2>Articulos parecidos</h2>

            <article id="producto-favorito">
                <img src="images\product-placeholder.jpg" alt="product">
                <p class="titulo-producto">Articulo</p>
                <p class="descripcion-producto">Descripción</p>
                <p class="precio-producto">$199.80</p>
            </article>

            <article id="producto-favorito">
                <img src="images\product-placeholder.jpg" alt="product">
                <p class="titulo-producto">Articulo</p>
                <p class="descripcion-producto">Descripción</p>
                <p class="precio-producto">$199.80</p>
            </article>

            <article id="producto-favorito">
                <img src="images\product-placeholder.jpg" alt="product">
                <p class="titulo-producto">Articulo</p>
                <p class="descripcion-producto">Descripción</p>
                <p class="precio-producto">$199.80</p>
            </article>

            <article id="producto-favorito">
                <img src="images\product-placeholder.jpg" alt="product">
                <p class="titulo-producto">Articulo</p>
                <p class="descripcion-producto">Descripción</p>
                <p class="precio-producto">$199.80</p>
            </article>
            
        </section>

        <section class="reviews">

            <h2>Reseñas</h2>

            <div class="user-reviews">

                <div class="user-review">

                    <p class="review-title">¡Me encanto!</p>
                    <p class="star-rating">stars</p>
                    <p class="review-desc">El corte es hermoso y queda super bien! Solamento recomiendo comprar una talla más grande.
                    </p>

                </div>

            </div>

            <div class="new-review">

                <form action="" method="">

                    <div class="input-title">

                        <input type="text" placeholder="Titulo" name="review-title">

                    </div>

                    <div class="input-desc">

                        <textarea placeholder="Titulo" name="review-desc"></textarea>

                    </div>

                    <div>

                        <button type="submit">Publicar</button>

                    </div>

                </form>

            </div>

        </section>

    </main>
    
</body>
</html>