:root {
    --blue: #6633FF;
    --darkblue: #4926b4;
    --darkgray: #191919;
    --lightgray: #DDE0E8;
    --white: #FFF;
    --orange: #FF8D27;
  }

footer {
    background-color: var(--lightgray);
    font-size: 12px;
    padding: 30px 30px 10px;
}

footer ul {
    list-style-type: none;
    padding: inherit;
}

footer i {
    color: var(--darkblue);
}

#footer-info i {
    margin-right: 5px;
}

.foot-info:hover i {
    color: var(--darkblue);
}

.foot-info:hover p {
    color: var(--orange);
}

.footer-titulo {
    font-weight: 600;
    margin-bottom: 5px;
}

.footer-nav ul {
    margin-top: 5px;
    padding: 0;
}

.footer-nav {
    width: 50%;

}

#footer-promociones p {
    margin: 5px 0px;
}

.footer-correo {
    position: relative;
    display: inline-block;
}

#footer-promociones input {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    font-family: inherit;
    font-size: inherit;
    height: 25px;
    outline-color: var(--orange);
    width: 130px;
}

#footer-promociones button {
    background-color: var(--white);
    border-radius: 10px;
    padding: 0;
    position: absolute;
    right: 7px;
    top: 5px;
}

#footer-promociones button i {
    color: var(--blue);
}

#footer-promociones button:hover i{
    color: var(--orange);
}

#footer-redes ul {
    margin-top: 15px;
    margin-bottom: 5px;
}

#footer-redes p {
    margin-top: 5px;
}

#footer-redes i{
    font-size: 18px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
    margin: 0;
}


.flex ul {
    display: flex;
    justify-content: center;
}

.flex ul li {
    padding: 5px 5px;
}

@media (min-width: 560px) { }

@media (min-width: 720px) {

    .footer-nav {
        width: 20%;
    
    }

    .footer-bottom {
        justify-content: space-between;
    }

    .footer-top {
        margin-bottom: 20px;
    }
    
}

@media (min-width: 990px) {

    .footer-nav {
        width: 15%;
    }

}
    