:root {
    --blue: #6633FF;
    --darkblue: #4926b4;
    --darkgray: #191919;
    --lightgray: #DDE0E8;
    --white: #FFF;
    --orange: #FF8D27;
  }

  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');


* ​{    
    box-sizing: ​border-box​;
    margin: ​0​px​;    
    padding: ​0​px​;    
}

body {
    background-color: var(--white);
    color: var(--darkgray);
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    margin: unset;
}

/*Slideshow*/

#slideshow-container {
    position: relative;
}

#slideshow-img {
    background: linear-gradient(0.25turn, #6633FF, #FFF, #FF8D27);
}

#slideshow-container img {
    width: 100%;
}

#slideshow-text {
    left: 20px;
    position: absolute;
    top: 30%;
}

#slideshow-container p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 60%;
}

button {
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
    color:var(--white);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

button:hover {
    background-color: var(--darkblue);
}

/* Popular ahora */

h2 {
    font-size: 20px;
    margin: 40px 0px 30px;
    text-align: center;
}

/* Categorias */

.categoria {
    text-align: center;
}

.categoria img {
    width: 85%;
    height: 150px;
    object-fit: cover;
}

.categoria p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

/* Banner registro */

#invitacion-registro {
    background-color: var(--lightgray);
    font-size: 16px;
    margin: 40px 0px 10px;
    padding: 20px 0px;
    text-align: center;
}

/* Los favoritos */

#productos-favoritos {
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#productos-favoritos h2 {
    width: 100%;
}

#producto-favorito {
    margin-bottom: 30px;
    text-align: center;
    width: 20%;
}

#producto-favorito p {
    margin: 0;
}

#producto-favorito .titulo-producto {
  font-weight: 500;  
}

#producto-favorito .precio-producto {
    font-weight: 600;  
  }

#productos-favoritos img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 560px) { 

    /* Categorias */

    .categoria img {
        height: 200px;
    }

}

@media (min-width: 720px) { 

    /* Slideshow */

    #slideshow-container p {
        font-size: 26px;
    }

    /* Categoria */

    #productos-categorias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    h2 {
        width: 100%;
    }

    .categoria {
        width: 30%;
    }

    .categoria img {
        width: 100%;
        height: unset;
    }
}

@media (min-width: 890px) { 

    /*Slideshow*/

    #slideshow-container img {
        height: 85vh;
        object-fit: cover;

    }

    #slideshow-container p {
        font-size: 30px;
    }

    /* invitacion registro */

    #invitacion-registro p {
        font-size: 2vw;
    }


}
    