:root {
    --blue: #6633FF;
    --darkblue: #4926b4;
    --darkgray: #191919;
    --lightgray: #DDE0E8;
    --white: #FFF;
    --orange: #FF8D27;
    --darkorange: #d16201;
  }

  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');


* ​{    
    box-sizing: ​border-box​;
    margin: ​0​px​;    
    padding: ​0​px​;    
}

body {
    background-color: var(--white);
    color: var(--darkgray);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    margin: unset;
}

/* Titulos */

.categoria-titulo{
    text-align: center;
}

.categoria-titulo h1{
    border-bottom: 4px solid var(--orange);
    display: inline-block;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 20px;
}

h2 {
    font-size: 20px;
    margin: 40px 0px 30px;
    text-align: center;
}

/* Articulos parecidos */

#productos {
    font-size: 14px;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#productos h2 {
    width: 100%;
}

.producto {
    margin-bottom: 30px;
    text-align: center;
    width: 45%;
}

.producto a:hover {
    color: var(--darkgray);
}

.foto-producto{
    margin: 1px 1px;
    display: block;
    overflow: hidden;
    width: 100%;
}

#productos img {
    transition: transform 0.5s;
    vertical-align: middle;
    width: 100%;
}

.foto-producto:hover > img {
    transform: scale(1.1);
    vertical-align: middle;
}

.producto p {
    margin: 0;
}

.producto .titulo-producto {
  font-weight: 500;  
}

.producto .precio-producto {
    font-weight: 600;  
  }

@media (min-width: 720px) {

    /* Parecidos */

    .producto {
        width: 22%;
    }

    #productos {
        padding: 0px 40px;
    }

    h2 {
        text-align: left;
        padding: 0px 30px;
        width: 100%;
    }

}

@media (min-width: 890px) { 

    /* Titulos */

    h2 {
        padding: 0px 50px;
    }

    /* Parecidos */

    #productos {
        justify-content: space-evenly;
    }

    .producto {
        width: 22%;
    }

}
    