:root {
    --blue: #6633FF;
    --darkblue: #4926b4;
    --darkgray: #191919;
    --lightgray: #DDE0E8;
    --white: #FFF;
    --orange: #FF8D27;
  }

  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');


* ​{    
    box-sizing: ​border-box​;
    margin: ​0​px​;    
    padding: ​0​px​;    
}

body {
    background-color: var(--white);
    color: var(--darkgray);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    margin: unset;
}


button {
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
    color:var(--white);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--darkblue);
}

/* Breadcrumbs */

.breadcrumbs ul {
    display: flex;
    font-size: 14px;
    margin-bottom: 0px;
    list-style-type: none;
    padding: 15px;
}

.breadcrumbs li {
    padding: 5px 5px;
}

.breadcrumbs i {
    font-size: 10px;
}

/*product area*/
.product-area {
    display: flex;
    flex-wrap: wrap;
}

.flex-items {
    width: 100%;
}

/* Product photos */

.main-pic img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

/* Product details */

.product-details {
    padding: 0px 15px;
    order: -1;
}

/* Product info */

.product-info h1 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.product-info p {
    margin: 0;
    margin-bottom: 5px;
}

.product-info .precio-producto {
    font-weight: 500;
}

.product-info .star-rating {
    color: var(--orange);
}

/* Product selection */

.product-selection div {
    margin-bottom: 5px;
}

.product-selection label {
    display: block;
    font-size: initial;
    font-weight: 500;
    margin-bottom: 5px;
}

.product-selection {
    font-size: 12px;
}

.product-selection select {
    width: 55px;
    height: 25px;
}

.product-buttons {
    margin-top: 25px;
}

.product-buttons button{
    border: 2.5px var(--blue) solid;
    display: block;
    margin: 15px 0px;
    width: 250px;
}

.product-buttons #favoritos {
    background-color: var(--white);
    color: var(--blue);
}

/* Titulos */

h2 {
    font-size: 20px;
    margin: 40px 0px 30px;
    text-align: center;
}

/* Categorias */

.categoria {
    text-align: center;
}

.categoria img {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.categoria .foto {
    width: 85%;
    position: relative;
    display: inline-block;
}

.foto:hover .overlay {
        position: absolute;
        top: 0;
        width:100%;
        height:98%;
        left: 0;
        background-color:#000;
        opacity:0.4;
        z-index: 1;
        display: block;
}

.categoria p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

/* Banner registro */

#invitacion-registro {
    background-color: var(--lightgray);
    font-size: 16px;
    margin: 40px 0px 10px;
    padding: 20px 0px;
    text-align: center;
}

/* Los favoritos */

#productos-favoritos {
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#productos-favoritos h2 {
    width: 100%;
}

.arrow {
    padding: 9% 0px;
    text-align: center;
    width: 5%;
}

.producto-favorito {
    margin-bottom: 30px;
    text-align: center;
    width: 20%;
}

.producto-favorito a:hover {
    color: var(--darkgray);
}

.foto-favorito{
    margin: 1px 1px;
    display: block;
    overflow: hidden;
    width: 100%;
}

#productos-favoritos img {
    transition: transform 0.5s;
    vertical-align: middle;
    width: 100%;
}

.foto-favorito:hover > img {
    transform: scale(1.1);
    vertical-align: middle;
}

.producto-favorito p {
    margin: 0;
}

.producto-favorito .titulo-producto {
  font-weight: 500;  
}

.producto-favorito .precio-producto {
    font-weight: 600;  
  }

@media (min-width: 560px) { 


}

@media (min-width: 720px) { 

    /* Categoria */

    #productos-categorias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* Favoritos */

    #productos-favoritos {
        padding: 0px 40px;
    }

    h2 {
        text-align: left;
        padding: 0px 30px;
        width: 100%;
    }
}

@media (min-width: 890px) { 

    /* Titulos */

    h2 {
        padding: 0px 50px;
    }

}
    