<footer>

    <div class="footer-top">

        <div id="footer-info" class="footer-nav">

            <p class="foot-info"><a href=""><i class="fas fa-globe-americas"></i>  México</a></p>
            <p class="foot-info"><a href=""><i class="fas fa-credit-card"></i>  Métodos de pago</a></p>
            <p class="foot-info"><a href=""><i class="fas fa-paper-plane"></i>  Envíanos un comentario</a></p>
            
        </div>

        <div class="footer-nav" id="footer-productos">

            <p class="footer-titulo">PRODUCTOS</p>
            <ul>
                <li class="footer-item"><a href="">Tenis</a></li>
                <li class="footer-item"><a href="">Tops</a></li>
                <li class="footer-item"><a href="">Bottoms</a></li>
                <li class="footer-item"><a href="">Accesorios</a></li>
            </ul>

        </div>

        <div class="footer-nav" id="footer-asistencia">

            <p class="footer-titulo">ASISTENCIA</p>
            <ul>
                <li class="footer-item"><a href="">Ayuda</a></li>
                <li class="footer-item"><a href="">FAQ</a></li>
                <li class="footer-item"><a href="">Entregas y devoluciones</a></li>
            </ul>

        </div>

        <div class="footer-nav" id="footer-promociones">

            <p class="footer-titulo">PROMOCIONES</p>
            <p class="footer-item">Sé el primero en enterarte de nuestras promociones</p>
            <form id="inscribir-correo" action="">

                <div class="footer-correo">
                    <input type="text" placeholder="Ingresa tu correo">
                    <button type="submit"><i class="fas fa-share"></i></button>
                </div>
            </form>

        </div>

        <div class="flex" id="footer-redes">
            
            <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
            <p class="footer-item">¡Siguenos en nuestras Redes!</p>

        </div>

    </div>

    <div class="footer-bottom">
    
        <div class="flex" id="footer-políticas">

            <ul>
                <li><a href="">Términos y condiciones</a></li>
                <li>|</li>
                <li><a href="">Políticas de privacidad</a></li>
                <li>|</li>
                <li><a href="">Cookies</a></li>
            </ul>
        
        </div>

        <p>© 2021 Activ México S.A. de C.V. Todos los derechos reservados</p>

    </div>

</footer>