<header>

    <div id="activ-logo">

        <a href="/">
        <img src="/images/Activ_logo.png" alt="Activ_logo">
        </a>

    </div>

    <nav>

        <div id="hamburger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div id="displayed-menu">
            <ul>
                <li><a href="/products/">Unisex</a></li>
                <li><a href="/products/">Mujeres</a></li>
                <li><a href="/products/">Hombres</a></li>
            </ul>
        </div>

    </nav>

    <div id="side-nav">

        <div id="search-bar">

            <form action="">
                <input type="text" placeholder="Buscar" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            
        </div>

        <ul>
            <li><a href="/user/login"><i class="fas fa-user"></i></a> <% if(locals.user != undefined) { %> <span class="user">¡Hola <%=locals.user.nombre%>! </span> <% } %></li>
            <li><a href="/user/cart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>

    </div>

</header>