<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include( "../partials/head" ) %>
    <link href="/css/loginStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <section class="caja-main">
        <div class="caja-inicio">
            <h2>INICIAR SESIÓN</h2>

            <form action="/login" method="POST">
                <p>
                    <label for="Correo">Correo electrónico:</label><br>
                    <input type="email" name="Correo">&nbsp;&nbsp;<i class="fas fa-envelope"></i>
                </p>
                <p>
                    <label for="Contraseña">Contraseña:</label><br>
                    <input type="password" name="Contraseña">&nbsp;&nbsp;<i class="fas fa-eye-slash"></i>
                </p>

                <p class="pequeño"><a href="/login">¿Olvidaste tu contraseña?</a></p>
                
                <p class="pequeño">
                    <input type="checkbox" name="recorder" value="Recordarme" checked>
                    <label for="recorder">Recordarme &nbsp;&nbsp;&nbsp;</label>
                    <button type="submit">&nbsp;Iniciar sesión&nbsp;</button>
                </p>
            </form>

            <p class="centrado">Iniciar sesión con</p>
            <div>
                <button type="button">&nbsp;Facebook&nbsp;</button> <i class="fab fa-facebook-square"></i> &nbsp;&nbsp;&nbsp;
                <button type="button">&nbsp;Google&nbsp;</button> <i class="fab fa-google-plus-square"></i>
            </div>
        </div>
        <br>
        <div id="slideshow-text">

            <p class="upper">
                ¡Ayuda!&nbsp;&nbsp;&nbsp;<i class="fas fa-question-circle"></i>
            </p>

        </div>

        <div class="caja-right">
            
            <p class="titulo">
                ¿No estás registrado?<br>
                Únete a nuestra comunidad y disfruta de los beneficios
            </p>
                <ul class="lista-centro">
                    <li>Notificaciones personalizadas</li>
                    <li>Seguimiento de tu pedido</li>
                    <li>Acceso a promociones</li>
                </ul>
            <br>
            <button type="button">&nbsp;Unirse ahora&nbsp;</button>
        </div>
        </section>


        <div id="slideshow-container">

            <div id="slideshow-img">
                <img src="/images/suscribete.jpg" alt="jump">
            </div>

            <div id="slideshow-text">
                <p>Suscríbete y entérate de todas las promociones que tenemos especialmente para ti</p>
                <button>&nbsp;&nbsp;Suscribete&nbsp;&nbsp;</button>
            </div>

        </div>
        <section class="caja-main-bottom">

            <div class="caja-pedido">
                <h2>Sigue tu pedido</h2>

                <p>Si ya eres USUARIO registrado</p>
                <form action="/login" method="POST">
                    <p>
                        <label for="Pedido">Número de pedido:</label><br>
                        <input type="text" name="Pedido">&nbsp;&nbsp;<i class="fas fa-box"></i>
                    </p>
                    <p>
                        <label for="Correo">Correo:</label><br>
                        <input type="email" name="Correo">&nbsp;&nbsp;<i class="fas fa-envelope-open-text"></i>
                    </p>
                    <p>
                        <label for="Postal">Código Postal:</label><br>
                        <input type="text" name="Postal">&nbsp;&nbsp;<i class="fas fa-home"></i>
                    </p>
                    <br>
                    <p class="pequeño">
                        <input type="checkbox" name="message" value="Enviar" checked>
                        <label for="message">Enviar ubicación &nbsp;&nbsp;&nbsp;</label>
                        <br><br>
                        <button type="submit">&nbsp;Verificar status&nbsp;</button>
                    </p>
                </form>
    
            </div>
        </section>
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>