<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( "../partials/head" ) %>
    <link href="/css/registerStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <section class="caja-main">

            <div class="caja-registro">
                <h2>Regístrate</h2>

                <p class="subtitulo">¿Aún no eres miembro?</p>

                <form action="/user/" method="POST" enctype="multipart/form-data">
                    <p class="field">
                        <label for="nombre">Nombre:</label>
                        <input class="input-text" type="text" name="nombre">
                    </p>
                    <p class="field">
                        <label for="apellido">Apellido:</label>
                        <input class="input-text" type="text" name="apellido">
                    </p>
                    <p class="field">
                        <label for="correo">Correo:</label>
                        <input class="input-text" type="email" name="correo">
                    </p>
                    <p class="field">
                        <label for="contra">Contraseña:</label>
                        <input class="input-text" type="password" name="contra">
                    </p>
                    <p class="field">
                        <label for="conficontra">Confirmar contraseña:</label>
                        <input class="input-text" type="password" name="conficontra">
                    </p>
                    <p class="field">
                        <label for="imagen">Foto de perfil:</label>
                        <input type="file" accept="image/*" name="imagen">
                    </p>
                    
                    <p class="pequeño">
                        <input type="checkbox" name="terminos" value="true"> Acepto Términos y Condiciones
                    </p>

                    <button class="button-especial" type="submit">Crear cuenta</button>

                </form>

                <p>Iniciar sesión con:</p>
                <div class="sesion-redes">
                    <a href=""> <button> <i class="fab fa-facebook-square"></i> Facebook  </button> </a>
                    <a href=""> <button> <i class="fab fa-google-plus-square"></i> Google </button> </a>
                </div>


            </div>

            <div class="disclaimer pequeño">
                <p class="pequeño">Puedes cancelar tu suscripción en cualquier momento</p>
                <p class="pequeño">Al registrar una cuenta aceptas que has leído y que entendiste Términos y Condiciones y das tu consentimiento expreso para cada tipo de transacción que se requiera para el procesamiento de sus datos personales bajo la Política de Privacidad</p>
            </div>

        </section>

        <div class="caja-img">
                
            <div id="slideshow-container">

                <div id="slideshow-img">
                    <img src="/images/hombremujer.jpg" alt="jumper">
                </div>
    
            </div>
        </div>

        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>