<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( "../partials/head" ) %>
    <link href="/css/registerStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <section class="caja-main-bottom">

            <div class="caja-img">
                
                <div id="slideshow-container">

                    <div>
                        <img src="/images/chica.jpg" alt="jumper">
                    </div>
        
                </div>
            </div>

            <div class="caja-registro">
                <h2>Regístrate</h2>

                <p>¿Aún no eres miembro?</p>
                <form action="/login" method="POST">
                    <p>
                        <label for="Nombre">Nombre:</label><br>
                        <input type="text" name="Nombre">&nbsp;&nbsp;<i class="fas fa-user"></i>
                    </p>
                    <p>
                        <label for="Apellido">Apellido:</label><br>
                        <input type="text" name="Apellido">
                    </p>
                    <p>
                        <label for="Correo">Correo:</label><br>
                        <input type="email" name="Correo">&nbsp;&nbsp;<i class="fas fa-at"></i>
                    </p>
                    <p>
                        <label for="Confirmar correo">Confirmar correo:</label><br>
                        <input type="email" name="Confirmar correo">
                    </p>
                    <p>
                        <label for="Contraseña">Contraseña:</label><br>
                        <input type="password" name="Contraseña">&nbsp;&nbsp;<i class="fas fa-key"></i>
                    </p>
                    <p>
                        <label for="Confirmar contraseña">Confirmar contraseña:</label><br>
                        <input type="password" name="Confirmar contraseña">
                    </p>
                    
                    <p class="pequeño">
                        <input type="checkbox" name="aceptance" value="Acepto" checked>
                        <label for="aceptance">Acepto Términos y Condiciones &nbsp;&nbsp;&nbsp;</label>
                        <br><br>
                        <button type="submit">&nbsp;Crear cuenta&nbsp;</button>
                    </p>
                </form>
                <br>

            </div>
        </section>


        <section class="caja-main-top">
            <div class="leyenda1">
                <p class="tipo">SERVICIO AL CLIENTE:</p><br>
                <p class="tipo">Devoluciones&nbsp;&nbsp;<i class="fas fa-exchange-alt"></i></p>
                <p class="tipo">Entregas&nbsp;&nbsp;<i class="fas fa-truck"></i></p>
                <p class="tipo">Pagos&nbsp;&nbsp;<i class="far fa-credit-card"></i></p>
                <p class="tipo">Canales&nbsp;&nbsp;<i class="fas fa-comments"></i></p>
                <p class="tipo">Ayuda&nbsp;&nbsp;<i class="fas fa-info-circle"></i></p>
            </div>

            <div class="leyenda2">
                <p class="centrado">Crea tu cuenta con</p>
                <div>
                    <button type="button">&nbsp;Facebook&nbsp;</button> <i class="fab fa-facebook-square"></i> &nbsp;&nbsp;&nbsp;
                    <button type="button">&nbsp;Google&nbsp;</button> <i class="fab fa-google-plus-square"></i>
                </div>
                <br>
                <p class="tipo1">Puedes cancelar tu suscripción en cualquier momento</p>
                <p class="tipo1">Al registrar una cuenta aceptas que has leído y que entendiste Términos y Condiciones y das tu consentimiento expreso para cada tipo de transacción que requiera para el procesamiento de sus datos personales bajo la la Política de Privacidad</p>
            </div>

        </section>
        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>